.dugme{
    padding: 10px;
    background-color: #ffeba7;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #1A4C62;
}