<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <header>
        <div class="logo">Travel planning</div>
        <nav>
            <a href="#" [routerLink]="['']">Home</a>
            <a href="#" [routerLink]="['/aboutUs']">About us</a>
            <a href="#" [routerLink]="['/Login']">Account</a>
        </nav>
    </header>
    
    <section class="about-section">
        <div class="about-content">
            <h1>About Us</h1>
            <p>
                Trip planning has never been easier thanks to integration with Leaflet, which gives you a detailed view of routes to your destination and border crossings, along with traffic information and the ability to view live crossing videos.
                So you can get an accurate insight into the real situation on the road before you set off.</p>
            <p class="klasa">Our app isn't just a guide from point A to point B – it's a comprehensive itinerary that allows you to:</p>
            <p>Pre-planned breaks while driving to keep you rested and safe.</p>
            <p>Recommendations for accommodation and restaurants along the route.
            <p>Information about pumps and electric chargers for vehicle maintenance.</p>
            <p>A detailed view of the length of the journey and estimated travel time.</p>
            <p>Whether you're planning a short trip or a long trip, our app provides all the tools you need to thoroughly plan each leg of your journey, helping you travel safely and informed.
                Use this platform to pre-plan and customize your trip according to your needs and preferences!</p>
        </div>
    </section>
</body>
</html>
