<header class="navbar">
    <span class="username">Welcome User</span>
    <a [routerLink]="['/UserProfile']"><i class="fa-solid fa-house-chimney"></i>Home</a>
</header>
<h1 class="klasa">Profile Settings</h1>
<div class="main">
    <div class="section">
        <h2 (click)="changeNameDown()">Name & Surname <span class="arrow">{{ nameDown ? '▼' : '►' }}</span></h2>
        <div *ngIf="nameDown" class="section-content">
            <p>{{ name }}</p>
            <button class="change-btn" (click)="changeVisibiltyIName()" >Change</button>
            <input *ngIf="isVisibleIName" [(ngModel)]="newName" placeholder="Enter new Name">
            <button class="save-changes-btn" (click)="changeName()" *ngIf="isVisibleButtonName">Save Changes</button>
        </div>
    </div>
    
    <hr>

    <div class="section">
        <h2 (click)="changeEmailDown()">Email <span class="arrow">{{ emailDown ? '▼' : '►' }}</span></h2>
        <div *ngIf="emailDown" class="section-content">
            <p>{{ email }}</p>
            <button class="change-btn" (click)="changeVisibiltyIEmail()" >Change</button>
            <input *ngIf="isVisibleIEmail" [(ngModel)]="newEmail" placeholder="Enter new Email">
            <button class="save-changes-btn" (click)="changeEmail()" *ngIf="isVisibleButtonEmail">Save Changes</button>
        </div>
    </div>

    <hr>
    <div class="section">
        <h2 (click)="changePasswordDown()">Password <span class="arrow">{{ passwordDown ? '▼' : '►' }}</span></h2>
        <div *ngIf="passwordDown" class="section-content">
            <button class="change-btn" (click)="changeVisibiltyIPassword()" >Change</button>
            <input *ngIf="isVisibleIPasswordOld" [(ngModel)]="password" placeholder="Enter old Password" type="password">
            <input *ngIf="isVisibleIPasswordNew" [(ngModel)]="newPassword" placeholder="Enter new Password" type="password">
            <button class="save-changes-btn" (click)="changePassword()" *ngIf="isVisibleButtonpassword">Save Changes</button>
        </div>
    </div>

    <hr>

    <div class="section">
        <h2 (click)="changePhoneDown()">Phone Number <span class="arrow">{{ phoneDown ? '▼' : '►' }}</span></h2>
        <div *ngIf="phoneDown" class="section-content">
            <p>{{ phone }}</p>
            <button class="change-btn" (click)="changeVisibiltyIPhone()">Change</button>
            <input *ngIf="isVisibleIPhone" [(ngModel)]="newPhone" placeholder="Enter new Phone Number">
            <button *ngIf="isVisibleButtonPhone" class="save-changes-btn" (click)="changePhone()">Save Changes</button>
        </div>
    </div>

    <hr>

    <div class="section">
        <h2 (click)="changeCityDown()">City <span class="arrow">{{ cityDown ? '▼' : '►' }}</span></h2>
        <div *ngIf="cityDown" class="section-content">
            <p>{{ city }}</p>
            <button class="change-btn" (click)="changeVisibiltyICity()">Change</button>
            <input *ngIf="isVisibleICity" [(ngModel)]="newCity" placeholder="Enter new City">
            <button *ngIf="isVisibleButtonCity" class="save-changes-btn" (click)="changeCity()">Save Changes</button>
        </div>
    </div>

    <hr>

    <div class="section deactivate">
        <button (click)="changeVisibiltyDeactivate()">Deactivate Account</button>
        <input *ngIf="isVisibleDeactivateInput" placeholder="Enter password" [(ngModel)]="passwordValue">
        <button *ngIf="isVisibleDeactivateButton" (click)="deactivate()">Deactivate</button>
    </div>
</div>
