/* Osnovni stil za glavni kontejner */
.main {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 8px;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);
    height: 100%;
    width: 100%;
}
.klasa {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #ffeba7;
    text-align: center;
    display: flex;
    justify-content: center; /* Horizontalno centriranje */
    align-items: center; /* Vertikalno centriranje */
    height: 7%;
}

/* Stil za sekcije */
.section {
    margin-top:40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Stil za naslove sekcija */
h2 {
    cursor: pointer;
    font-size: 20px;
    color: ivory;
}

/* Stil za strelicu */
.arrow {
    margin-left: 10px;
}

/* Stil za paragrafe */
p {
    font-size: 18px;
    color: ivory;
    font-family: 'Poppins', sans-serif;
}

/* Stil za dugmad "promeni" i "sačuvaj promene" */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #0056b3;
}

/* Stil za input polje */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Stil za sekciju deaktivacije */
.deactivate {
    margin-top: 20px;
    text-align: center;
}

/* Stil za dugme "sačuvaj promene" unutar moda */
.save-changes-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.save-changes-btn:hover {
    background-color: #218838;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2e38;
    padding: 15px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
  }
  .username {
    font-weight: bold;
    color: #ffeba7;
  }

  hr {
    width: 35%; /* Širina linije celom dužinom */
    border: none; /* Uklanjanje podrazumevanog stila */
    border-top: 1px solid #555; /* Prilagođena boja linije */
    margin: 10px 0; /* Razmak između sekcija */
    opacity: 0.5; /* Prozirnost, opcionalno */
}
.navbar a:hover {
    color: #c4c3ca; /* Svetlija nijansa pri hover-u */
  }
  .navbar a {
    color: #ffeba7; /* Svetlija boja teksta */
    font-size: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s;
  }
