<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comffee</title>
</head>
<body>
    <header>
        <div class="logo">Travel planning</div>
        <nav>
            <a href="#" [routerLink]="['']">Home</a>
            <a href="#" [routerLink]="['/aboutUs']">About us</a>
            <a href="#" [routerLink]="['/Login']">Account</a>
        </nav>
    </header>
    
    <section class="hero">
        <div class="hero-text">
            <h1>Travel planning</h1>
            <p>Welcome to our travel planner app – your ideal companion for a carefree trip!</p>
            <p>Trip planning has never been easier thanks to integration with Leaflet, which gives you a detailed view of routes to your destination and border crossings, along with traffic information and the ability to view live crossing videos.</p>
        </div>
    </section>
</body>
</html>
