<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="container">
    <header class="navbar">
        <span class="username">Welcome User</span>
        <a [routerLink]="['/UserProfile']"><i class="fas fa-home"></i>Home</a>
    </header>
    <h1 class="klasa">Personal Travels</h1>
    <div class="travels">
        <div *ngFor="let tr of travelArr$|async" class="put">
            <app-personal-travel [travel]="tr"></app-personal-travel>
        </div>
    </div>

</div>

