/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #ffeba7;
  background-color: #1f2029;
  overflow: auto;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #12141d 100%);
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
.container {
  display: flex;
  width: 100%;
}
.sidebar {
  width: 250px;
  background-color: #333;
  color: #ffeba7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.logo {
  font-size: 2.0em;
  margin-bottom: 30px;
  color: #ffeba7;
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}
.menu-item {
  color: #ffeba7;
  padding: 15px 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 22px;
}
.menu-item:hover {
  background-color: #555;
  color: #c4c3ca;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2e38;
  padding: 15px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.username {
  font-weight: bold;
  color: #ffeba7;
  font-size: 22px;
}
.logout-btn {
  padding: 10px 20px;
  background-color: #ffeba7;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.logout-btn:hover {
  background-color: #c4c3ca;
  color: #1f2029;
}
.profile {
  padding: 20px;
  color: #ffeba7;
}
.profile span { /* Boldovanje teksta */
  font-size: 1.6em;  /* Povećanje veličine fonta */
  margin-bottom: 10px; /* Razmak između redova */
}

.profile p {
  font-size: 1.6em; /* Veličina fonta za paragraf */
  margin: 0; /* Uklanjanje podrazumevanog margina */
  font-weight: normal;
}

.profileData{
 
    background-color: rgba(255, 255, 255, 0.1); /* Svetlija boja pozadine sa prozirnošću */
    border-radius: 10px; /* Zaobljene ivice */
    padding: 20px; /* Unutrašnji razmak */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Senka za 3D efekat */
    margin-top: 20px; /* Razmak od elemenata iznad */
    justify-content: center;
    align-items: center;

  
}
/* Stilizacija za Navbar */
.navbar {
  display: flex;
  justify-content: flex-end; /* Postavi elemente na desnu stranu */
  align-items: center;
  background-color: #2b2e38;
  padding: 15px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

/* Stilizacija za korisničko ime */
.username {
  font-weight: bold;
  color: #ffeba7;
  font-size: 1.1em;
  margin-right: auto; /* Pomeri na levu stranu */
}

/* Stilizacija za dugmad u navbaru */
.navbar a {
  color: #ffeba7; /* Svetlija boja teksta */
  font-size: 1.3em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s;
}
.textHome{
  font-size: 0.8em;
}
.navbar a:hover {
  color: #c4c3ca; /* Svetlija nijansa pri hover-u */
}

.navbar a i {
  margin-right: 8px; /* Razmak između ikone i teksta */
}

.profile-picture-container {
  display: inline-block;
  position: relative;
}

.profile-picture {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: trafnsform 0.3s ease;
}
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Razmak između stavki */
}

.info-row {
  display: flex; /* Razmak između label i value */ 
}

.label {
  font-weight: bold;
  font-size: 38px;
  color: #ffeba7;
  margin-left: 1%; /* Širina labela */
}

.value {
  color: #ffeba7; /* Širina vrednosti */
  text-align: right; /* Poravnanje vrednosti */
  font-weight: normal;
  font-size: 38px;
  margin-left: 20px;
}
.trip-planning-section {
  text-align: center;
  color: #ffeba7;
  padding: 20px;
  background-color:  rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-top:2px;
  margin:auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.trip-planning-section h1 {
  font-size: 2em;
  margin-bottom: 15px;
}



.image-container {
  margin-top:2px;
}

.image-container img {
  width: 40%;
  height: 12%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
}

.social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
}
h1{
  font-size: 1.7em;
}

.profile-picture-container:hover .profile-picture {
  transform: scale(1.05); /* Blago zumiranje slike na hover */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Polutransparentna tamna pozadina */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Skriveno dok nije hover */
  transition: opacity 0.3s ease; /* Glatka tranzicija za prikaz */
  border-radius: 50%;
  cursor: pointer;
}

.profile-picture-container:hover .overlay {
  opacity: 1; /* Prikazuje overlay na hover */
}

.overlay-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  user-select: none; /* Sprečava selektovanje teksta */
}


