<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo">Trip planning</div>
      <nav class="menu">
        <a  class="menu-item" (click)="showHomeSection()"><i class="fas fa-home"></i> Home</a>
        <a class="menu-item" (click)="showProfileSection()"><i class="fas fa-user"></i> Profile</a>
        <a  class="menu-item" (click)="search()"><i class="fas fa-cog"></i> New Travel</a>
        <a class="menu-item" (click)="personalTravels()" ><i class="fas fa-sign-out-alt"></i> My travels</a>
      </nav>
    </aside>

    <!-- Main content -->
    <main class="main-content">
      <!-- Navbar -->
      <header class="navbar">
        <span class="username">Welcome, {{(user$| async).NameAndSurname}}</span>
        <a [routerLink]="['/Settings']"><i class="fas fa-cog"></i>Settings</a>
        <a (click)="logout()"><i class="fas fa-sign-out-alt"></i>Logout</a>
      </header>

      <!-- Profile content -->
      <section class="profile">
        <div *ngIf="profileSection" class="profileData">
          <h1>User Profile</h1>
          
          <!-- Slika korisnika -->
          <div class="profile-picture-container">
            <img
              [src]="imageUrl ? 'data:image/png;base64,'+imageUrl : '../assets/images/person.png'"
              alt="User Profile Picture"
              class="profile-picture"
              (click)="onChangeProfilePicture()"
            />
            <input
              type="file"
              #fileInput
              accept="image/*"
              style="display: none;"
              (change)="onFileSelected($event)"
            />
          </div>
          <div class="profile-info">
            <div class="info-row">
              <span class="label">Name And Surname:</span>
              <span class="value">{{(user$ | async)?.NameAndSurname || " "}}</span>
            </div>
            <div class="info-row">
              <span class="label">Email:</span>
              <span class="value">{{(user$ | async)?.Email || " "}}</span>
            </div>
            <div class="info-row">
              <span class="label">Username:</span>
              <span class="value">{{(user$ | async)?.Username || " "}}</span>
            </div>
            <div class="info-row">
              <span class="label">Phone Number:</span>
              <span class="value">{{(user$ | async)?.PhoneNumber || " "}}</span>
            </div>
            <div class="info-row">
              <span class="label">Date Of Birth:</span>
              <span class="value">{{(user$ | async)?.DateOfBirth || " "}}</span>
            </div>
            <div class="info-row">
              <span class="label">City:</span>
              <span class="value">{{(user$ | async)?.City || " "}}</span>
            </div>
          </div>
          
        </div>
        <div *ngIf="homeSection">
          <div class="trip-planning-section">
            <h1>Plan Your Perfect Trip</h1>
            <p>
              Trip planning has never been easier! With integration powered by Leaflet, our app provides you with a detailed view of routes to your destination, border crossings, and real-time traffic updates. 
              You can even view live crossing videos to ensure you're fully prepared for the road ahead. 
            </p>
          
            <div class="image-container">
              <img src="../../assets/images/skrin.png" alt="Road infographic">
            </div>
          
         
          
            <p>
              Use our app to explore alternate routes, calculate estimated travel times, and discover nearby attractions and rest stops. 
              With our user-friendly interface, you can save your plans for future trips or share them with friends and family.
            </p>
          
            <div class="image-container">
              <img src="../../assets/images/28567.jpg" alt="Trip planning illustration">
            </div>
          
           
          
            <div class="social-icons">
              <a href="https://facebook.com" target="_blank">
                <img src="../../assets/images/facebook-flat.png" alt="Facebook">
              </a>
              <a href="https://instagram.com" target="_blank">
                <img src="../../assets/images/instagram-flat.png" alt="Instagram">
              </a>
              <a href="https://whatsapp.com" target="_blank">
                <img src="../../assets/images/whatsapp-flat.png" alt="WhatsApp">
              </a>
              <a href="https://twitter.com" target="_blank">
                <img src="../../assets/images/twitter-flat.png" alt="Twitter">
              </a>
            </div>
          </div>
          
          
        </div>
      </section>
      
    </main>
  </div>
</body>
</html>
