
<header class="navbar">
    <span class="username">Welcome User</span>
    <a [routerLink]="['/UserProfile']"><i class="fa-solid fa-house-chimney"></i>Home</a>
</header>
<h1 class="klasa">Search travel</h1>
<div class="container">
<section class="search-form">
  <h2>Search</h2>
  <form (submit)="onSearch()">
    <input type="text" [(ngModel)]="startPoint" name="startPoint" placeholder="From" required />
    <input type="text" [(ngModel)]="endPoint" name="endPoint" placeholder="To" required />
    <button type="submit">Search</button>
  </form>
</section>
</div>

